@charset "utf-8";

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: whiteSmoke;
  color:#333;
}

.container {
  width:600px;
  margin:120px auto;
  text-align: center;
  
}

.title {
  span {
    font-size:24px;
    font-style: italic;
    color:#777;
  }
  line-height:120px;
  font-size:48px;
  border-bottom:1px solid #E4E4E4;
}

h1 {
  font-weight: normal;
}

.player {
  float:left;
  width:300px;
  h1 {
    font-size:16px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h2 {
    font-size:36px;
  }
}