@charset "utf-8";

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: whiteSmoke;
  color:#333;
}

.container {
  width:600px;
  margin:300px auto;
  text-align: center;
  
}

.title {
  span {
    font-size:24px;
    font-style: italic;
    color:#777;
  }
  line-height:120px;
  font-size:48px;
  border-bottom:1px solid #E4E4E4;
}

h1 {
  font-weight: normal;
}

.player {
  float:left;
  width:300px;
  h1 {
    font-size:16px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h2 {
    font-size:36px;
    .pending {
      font-size:16px;
      font-weight:normal;
      position:relative;
      top:-20px;
      left:5px;
    }
  }
}

header {
  background: #fff;
  position:fixed;
  top:0;
  right:0;
  left:0;

  h1 {
    text-transform: uppercase;
    font-size: 1em;
    padding:2em 0;
    color:#999;
    letter-spacing: 4px;
  }
}