---
title: Invitational
---

<div class="container">
  <header><h1>Invitational: Round II</h1><%= image_tag "invitational.png" %></header>
  
  <article class="scoreboard">
    <section class="player one">
      <h1>Koios</h1>
      <h2><span class="score">-</span><span class="pending"></span></h2>
    </section>
    
    <section class="player two">
      <h1>Polos</h1>
      <h2><span class="score">-</span><span class="pending"></span></h2>
    </section>
  </article>
</div>
