---
title: Invitational
---

<div class="container">
  <h1 class="title"><span>the</span> Invitational</h1>
  <article class="scoreboard">
    <section class="player">
      <h1>Alex Baldwin</h1>
      <h2>0</h2>
    </section>
    
    <section class="player">
      <h1>CH Albach</h1>
      <h2>0</h2>
    </section>
  </article>
</div>